@{
    Layout = "~/Views/Shared/_LayoutDsh.cshtml";
}
@model CategorieS
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Add New Category</h2>
        </div>
    </div>
    <form asp-controller="Category" asp-action="AddCatogary" method="post" id="categoryForm">
        <div class="modal-body">
            <div class="row gy-3 overflow-hidden">
                <div class="col-12">
                    <div>
                        @if (@ViewBag.categoriy!= null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewBag.categoriy
                            </div>
                        }
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="name" name="name" class="form-control" placeholder="Name" required>
                        <label for="name" class="form-label">Name</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <textarea asp-for="Description" class="form-control" placeholder="Description" rows="6" required></textarea>
                        <label for="Description" class="form-label">Description</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a href="/Category/CategoryList/" class="buttons " style="background-color:gray; height:40px; width:111px; color:white;     border-radius: 4px; text-decoration:none; text-align:center; padding: .5rem .9rem;">Back to list</a>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</section>