@{
    Layout = "~/Views/Shared/_LayoutDsh.cshtml";
}
@model e_commerce_pro.Models.Products

@* 
<head>
    <link href="~/dist/cropper.css" rel="stylesheet">
    <script src="~/dist/cropper.js"></script>
</head>


    <section id="productVarientForm" class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add Product </h2>
                </div>
            </div>
            <div id="target" class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between ">
                        <h4>Basic</h4>
                           <button type="button" id="addForm" class="btn btn-md rounded font-sm hover-up">+</button>
                    </div>
                    <form method="post" asp-action="Edit" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mb-3">
                                    <label asp-for="Name" class="form-label">Product Name (It should match with the Product submited)</label>
                                    <input type="text" asp-for="Name" placeholder="Type here" class="form-control" id="productname" name="productname" required />

                                    <span asp-validation-for="Name" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Color</label>
                                    <select id="color" class="form-select" name="color">
                                        {{#each color}}
                                        <option>{{this.color}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Size</label>
                                    <select id="size" class="form-select" name="size">
                                        {{#each size}}
                                        <option>{{this.size}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 mb-3">
                                    <label asp-for="Description" class="form-label"> Price</label>
                                    <input type="Price" asp-for="Price" placeholder="Type here" class="form-control" id="price" name="Price" required />
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <label asp-for="Description" class="form-label">Description</label>
                                    <input type="number" asp-for="Description" placeholder="Type here" class="form-control" id="Description" name="Description" required />
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <label asp-for="stock" class="form-label">Stock</label>
                                    <input type="number" asp-for="stock" placeholder="Type here" class="form-control" id="stock" name="stock" required />
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <label asp-for="Size" class="form-label">Size</label>
                                    <input type="number" asp-for="Size" placeholder="Type here" class="form-control" id="stock" required />
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <label asp-for="rating" class="form-label">Rating</label>
                                    <input type="number" asp-for="rating" placeholder="Type here" class="form-control" id="stock" required />
                                </div>
                            </div>
                            @* {{!-- Upload image with preview --}}
                            <div class="card mb-4">
                                <div class="card-header">
                                    <h4>Media</h4>
                                </div>
                                <div class="row">
                                    <div class="card-body col-sm-3">
                                        <div class="input-upload">
                                            <img id="image-preview" src="~/assets/imgs/theme/upload.svg" alt="" />
                                            <input data-id="1" class="form-control" name="images" type="file" id="image-input-1" accept="image/*" onchange="previewImage(event)" required />
                                        </div>
                                    </div>
                                    <div class="card-body col-sm-3">
                                        <div class="input-upload">
                                            <img id="image-preview2" src="~/assets/imgs/theme/upload.svg" alt="" />
                                            <input data-id="2" class="form-control" name="images" type="file" id="image-input-2" accept="image/*" onchange="previewImage(event)" required />
                                        </div>
                                    </div>
                                    <div class="card-body col-sm-3">
                                        <div class="input-upload">
                                            <img id="image-preview3" src="~/assets/imgs/theme/upload.svg" alt="" />
                                            <input data-id="3" class="form-control" name="images" type="file" id="image-input-3" accept="image/*" onchange="previewImage(event)" required />
                                        </div>
                                    </div>
                                    <div class="card-body col-sm-3">
                                        <div class="input-upload">
                                            <img id="image-preview4" src="~/assets/imgs/theme/upload.svg" alt="" />
                                            <input data-id="4" class="form-control" name="images" type="file" id="image-input-4" accept="image/*" onchange="previewImage(event)" required />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" id="productVarientButton" class="btn btn-md rounded font-sm hover-up">Add product-Varient</button>
                            </div>
                            <h3 id="varientAlert" class="text-center text-success"></h3>
                        </div>
                    </form>
                </div>
                <!-- card end// -->
            </div>
        </div>
    </section>


    <div class="modal fade" id="imageModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="imagecrop1 width-100">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="cropButton1" class="btn btn-primary">Crop</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="imageModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid ">
                        <div class="imagecrop2">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="cropButton2" class="btn btn-primary">Crop</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="imageModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="imagecrop3 width-100">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="cropButton3" class="btn btn-primary">Crop</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="imageModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="imagecrop4 width-100">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="cropButton4" class="btn btn-primary">Crop</button>
                </div>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="~/Adassets/js/img.js"></script>
*@
<section class="content-main">
    <div class="row">
        <div class="col-9">
            <div class="content-header">
                <h2 class="content-title">Add New Product</h2>

            </div>
        </div>
        <div class="col-11">
            <div class="card mb-4">
                <div class="card-header">
                    <h4>Basic</h4>
                </div>
                <div class="card-body">
                    <form  asp-action="CreateProduct" asp-controller="Product" method="post" enctype="multipart/form-data">
                        <div class="mb-4">
                            <label asp-for="Name" class="form-label">Product title</label>
                            <input type="text" asp-for="Name" placeholder="Type here" class="form-control" id="name" />
                        </div>

                        <div class="mb-4">
                            <label asp-for="Description" class="form-label">Full description</label>
                            <textarea asp-for="Description" placeholder="Type here" class="form-control" rows="4"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label asp-for="CategaryId" class="form-label">Category</label>
                                    <select asp-for="CategaryId" class="form-select" asp-items="@ViewBag.CategoryList">
                                        <option value="">Select Category</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label">Price</label>
                                    <input asp-for="Price" placeholder="Type here" type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label class="form-label">Stock</label>
                                <input asp-for="Stock" placeholder="Type here" type="text" class="form-control" />
                            </div>
                          @*   <div class="col-lg-6">
                                <div class="mb-4">
                                    <label class="form-label"> Color</label>
                                    <div class="row gx-2">
                                        <input asp-for="color" placeholder="" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-4">
                                    <label class="form-label"> Size</label>
                                    <div class="row gx-2">
                                        <input asp-for="Size" placeholder="" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div> *@

                        </div>
                        <!-- Include Cropper.js -->
                        <link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.min.css">
                        <script src="https://unpkg.com/cropperjs/dist/cropper.min.js"></script>

                        <!-- Your existing HTML code -->
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Media</h4>
                            </div>
                            <div class="row">
                                <div class="card-body col-sm-3">
                                    <div class="input-upload">
                                        <img id="image-preview-1" src="~/Adassets/imgs/upl/upload1.png" alt="" />
                                        <input class="form-control" type="file" name="img1" required />
                                    </div>
                                </div>
                                <div class="card-body col-sm-3">
                                    <div class="input-upload">
                                        <img id="image-preview-2" src="~/Adassets/imgs/upl/upload1.png" alt="" />
                                        <input data-id="2" class="form-control" name="img2" type="file" required />
                                    </div>
                                </div>
                                <div class="card-body col-sm-3">
                                    <div class="input-upload">
                                        <img id="image-preview-3" src="~/Adassets/imgs/upl/upload1.png" alt="" />
                                        <input data-id="3" class="form-control" name="img3" type="file" required />
                                    </div>
                                </div>
                                <div class="card-body col-sm-3">
                                    <div class="input-upload">
                                        <img id="image-preview-4" src="~/Adassets/imgs/upl/upload1.png" alt="" />
                                        <input data-id="4" class="form-control" name="img4" type="file" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" id="productVarientButton" class="btn btn-md rounded font-sm hover-up">Add product-Variant</button>
                        </div>

                        <!-- Add the following JavaScript code to enable image cropping -->
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                // Initialize Cropper for each image preview
                                for (let i = 1; i <= 4; i++) {
                                    const imagePreview = document.getElementById(image-preview-${i});
                                    const fileInput = document.querySelector([name="image${i}"]);
                                    let cropper;

                                    fileInput.addEventListener('change', function (e) {
                                        const file = e.target.files[0];
                                        const reader = new FileReader();

                                        reader.onload = function (event) {
                                            imagePreview.src = event.target.result;

                                            // Destroy previous cropper instance (if exists)
                                            if (cropper) {
                                                cropper.destroy();
                                            }

                                            // Initialize new Cropper instance
                                            cropper = new Cropper(imagePreview, {
                                                aspectRatio: 1, // Set the aspect ratio as needed
                                                viewMode: 2, // Set the view mode as needed
                                            });
                                        };

                                        reader.readAsDataURL(file);
                                    });
                                }

                                document.getElementById('productVarientButton').addEventListener('click', function () {
                                    // Handle the cropped images, e.g., send data to the server
                                    for (let i = 1; i <= 4; i++) {
                                        const cropperInstance = cropperInstances[i];
                                        const croppedCanvas = cropperInstance.getCroppedCanvas();

                                        // You can now send the croppedCanvas data to the server using AJAX or any other method.
                                    }
                                });
                            });
                        </script>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-12">
        </div>

    </div>
</section>